DEEPSEEK_API_KEY=your_deepseek_api_key_here
CIRCUITPILOT_WRITE_API_KEY=replace_with_a_strong_operator_key
CIRCUITPILOT_REQUIRE_WRITE_AUTH=false
CIRCUITPILOT_MAX_WAVEFORM_BYTES=67108864
CIRCUITPILOT_MAX_NETLIST_BYTES=67108864
CIRCUITPILOT_MAX_PARAM_BYTES=2097152
CIRCUITPILOT_MAX_IMAGE_BYTES=16777216
CIRCUITPILOT_MAX_REQUEST_BYTES=134217728
CIRCUITPILOT_MAX_ATTACHMENTS=10
